@import "colors";
@import "fonts";

* {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#body-index, #html-index {
    background:$bg-black;
    font-family:$principal-font, 'Inter';
    width: 1440px;
    height: auto;

}

.img-principal{margin-left: 8%;
margin-top: 3%;
}

.about-me{font-family: 'Helvetica Now Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #BABABA;
    position: absolute;
    top:80% ;
    margin-left: 5%;
    }

.tools li{font-family: 'Helvetica Now Display';
    font-style: normal;
    font-weight: 500;
    font-size: 14.7616px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #BABABA;
    list-style: none;
    }

.tools{margin-top: 15%;}

.contact li{list-style:none;
    display:inline-block;
    
}

.contact {margin-left: 12%;
margin-top: 5%;}

.contact a{font-family: 'Inter';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:#BABABA;
    }



