@import "colors";

* {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#body-index, #html-index {
    background:$bg-black;
    font-family:'Inter';
    height: auto;

}

.img-principal{margin-top: 3%;
}

.about-me{font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #BABABA;
    }

.ux-icon{
    width: 631.01px;
    height: 58.5px;}



.tools li{font-family: "inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14.7616px;
    line-height: 28px;
    color: #BABABA;
    list-style: none;
    }

.tools{margin-top: 8%;
margin-bottom: 10%;}


.color-span {
    background: linear-gradient(111.19deg, #BB62F1 13.97%, #EE4B60 83.79%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-weight: bold;
} 


.hola-index{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: #A2A2A2;
}

.contenedor-skills{margin-top: 10%;}
