@import "colors";
@import "fonts";

* {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#body-index, #html-index {
    background:$bg-black;
    font-family:$principal-font, 'Inter';
    height: auto;

}

.img-principal{margin-top: 3%;
}

.about-me{font-family: 'Helvetica Now Display', 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #BABABA;
    }

.ux-icon{margin-top: 25%;
    width: 631.01px;
    height: 58.5px;}

.skills-m{margin-left: 10%;}

.tools li{font-family: 'Helvetica Now Display', "inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14.7616px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #BABABA;
    list-style: none;
    }

.tools{margin-top: 8%;
margin-bottom: 10%;}







