@import "colors";



body, html {
    background:$bg-black;
    font-family:'Inter';
    height: auto;

}

.side-bar{height: 100%;

}

.img-media{display: none;}


a:link {
    color: $color-link;
    text-decoration: none; 
}

.profile-photo{margin-bottom: 8%;}



hr {width: 329px;
    color: white;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

h1{margin-top: 10%;
    margin-left: 4%;
    font-family:'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 40px;
    color:$bg-black;
}

h4{margin-left: 4%;
    font-family:'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
}

.about{margin-left: 5%;
    margin-top: 5%;
}

h3{font-family:'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin-left: 4%;
    margin-top: 10%;
}



h6{font-family:'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
color: #3F3F3F;
}

.skills p{font-family:  'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #BABABA;}

.margin{margin-bottom: 30%;}

.experiencia{ margin-top: 10%;}

#experiencia{margin-left: 5%;}

.experiencia h5{font-weight: bolder;}

a{text-decoration: none;
color: #070707;}

.p-bold{font-weight:600;
} 

.port p{font-size: 12px;
margin-bottom: 0;
font-family:  'Inter';
font-style: normal;
font-weight: 700;
line-height: 26px;

}

.port a{font-size: 12px;
    font-family:  'Inter';
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    color: #7F7F7F;
}

.vercel{width: 48.5%;}

.btn-descarga{width: 145px;
    height: 39px;
    background: #222222;
    border-radius: 74.2857px;
        a{color: #FFFFFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
    font-family:  'inter';
    


        }
}

.btn-descarga:hover{background: linear-gradient(121.68deg, #BB62F1 2.56%, #EE4B60 46.53%, #E07D8A 88.89%);
    a{color: #FFFFFF ;
    }
    
}

.casos h6{font-family:  'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #BABABA;
}
.casos p{font-family:  'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #BABABA;}

.casos{margin-bottom: 8%;
}

.portfolio,a{font-family:  'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    color: #BABABA;
    }

.portfolio p{font-family:  'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #BABABA;
    }


.click {font-family:  'Inter';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 18px;
color: #7F7F7F;
}

.metodologias{margin-top: 12%;
    h6{font-family:  'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #BABABA;
        margin-bottom: 5%;
        }
    p{font-family:  'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;

        color: #BABABA;
        }
}

.metodologias-row{margin-bottom: 8%;}

.mas-proy h5{font-family:  'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #BABABA;
    margin-bottom: 2%;
    }

.mas-proy a{font-family:  'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #BABABA;
    margin-bottom: 30%;
}

.mas-proy{margin-bottom: 10%;
    padding-bottom: 100px;
}

.hola{font-family:  'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #BABABA;
margin-bottom: 5%;}

.margin-tec{margin-top: 10%;
}

.portfolio-img{margin-top: 10%;
margin-bottom: 5%;
width: 50%;}



















//mediaQuery//

@media (min-width: 320px) and (max-width: 990px) {

.img-principal{display: none;}

.img-media{display: block;}

.about-me{position: static;
    margin-top: 15%;
    margin-left: 3%;

}

#body-index, #html-index{width: auto;
height: auto;}

.navbar-nav .nav-link.active {
    color: $color-link;
    font-weight: bold;
    border-bottom: 2px solid $color-link;
    width: 40%;
}



.hola  p{text-align: left;
}

.mobile-no{display: none;}

.contact{flex-direction: column;
    a{margin-bottom: 5%;
    }
}


.img-skills-mobile{width: 80%;
margin-bottom: 10%;}

.ux-icon{width: 85%;}

.portfolio-img{width: 75%;}

.preauth{width: 35%;}

}