* {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#body-index, #html-index {
  background: #0D0D0D;
  font-family: "Helvetica Now Display", "Inter";
  height: auto;
}

.img-principal {
  margin-left: 8%;
  margin-top: 3%;
}

.about-me {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #BABABA;
  position: absolute;
  top: 80%;
  margin-left: 5%;
}

.tools li {
  font-family: "Helvetica Now Display", "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14.7616px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #BABABA;
  list-style: none;
}

.tools {
  margin-top: 8%;
  margin-bottom: 10%;
}

nav {
  background-color: transparent;
}

.nav-link {
  color: #A2A2A2;
  margin-right: 42.45px;
  font-weight: 400;
}

.nav-link:hover {
  color: #A2A2A2;
  font-weight: 600;
}

.navbar-nav .nav-link.active {
  color: #A2A2A2;
  font-weight: bold;
  border-bottom: 2px solid #A2A2A2;
}

.nav-link.nav-content {
  color: black;
}

.nav-link.nav-content:hover {
  color: #0D0D0D;
  font-weight: 600;
}

.navbar-nav.nav-content .nav-link.active {
  color: #0D0D0D;
  font-weight: bold;
  border-bottom: 2px solid #0D0D0D;
}

.navbar-brand {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  color: #A2A2A2;
  width: 153px;
}

.navbar-brand:hover {
  display: none;
}

body, html {
  background: #0D0D0D;
  font-family: "Helvetica Now Display", "Inter";
  height: auto;
}

.side-bar {
  height: 100%;
}

.img-media {
  display: none;
}

a:link {
  color: #A2A2A2;
  text-decoration: none;
}

.profile-photo {
  margin-bottom: 8%;
}

hr {
  width: 329px;
  color: white;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

h1 {
  margin-top: 10%;
  margin-left: 4%;
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 40px;
  color: #0D0D0D;
}

h4 {
  margin-left: 4%;
  font-family: "Helvetica Now Display";
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.about {
  margin-left: 5%;
  margin-top: 5%;
}

h3 {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  margin-left: 4%;
  margin-top: 10%;
}

h6 {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #3F3F3F;
}

.skills p {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #BABABA;
}

.margin {
  margin-bottom: 30%;
}

.experiencia {
  margin-top: 10%;
}

#experiencia {
  margin-left: 5%;
}

.experiencia h5 {
  font-weight: bolder;
}

a {
  text-decoration: none;
  color: #070707;
}

.p-bold {
  font-weight: 600;
}

.port p {
  font-size: 12px;
  margin-bottom: 0;
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}

.port a {
  font-size: 12px;
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #7F7F7F;
}

.vercel {
  width: 48.5%;
}

.btn-descarga {
  width: 145px;
  height: 39px;
  background: #A2A2A2;
  border-radius: 74.2857px;
}
.btn-descarga a {
  color: #0D0D0D;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  font-family: "Helvetica Now Display", "inter";
}

.btn-descarga:hover {
  background: #FFFFFF;
}
.btn-descarga:hover a {
  color: #0D0D0D;
}

.casos h6 {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #BABABA;
}

.casos p {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #BABABA;
}

.casos {
  margin-bottom: 8%;
}

.portfolio, a {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #BABABA;
}

.portfolio p {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #BABABA;
}

.click {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #7F7F7F;
}

.metodologias {
  margin-top: 12%;
}
.metodologias h6 {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #BABABA;
  margin-bottom: 5%;
}
.metodologias p {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #BABABA;
}

.metodologias-row {
  margin-bottom: 8%;
}

.mas-proy h5 {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #BABABA;
  margin-bottom: 2%;
}

.mas-proy a {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  color: #BABABA;
  margin-bottom: 30%;
}

.mas-proy {
  margin-bottom: 10%;
  padding-bottom: 100px;
}

.hola {
  font-family: "Helvetica Now Display", "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #BABABA;
  margin-bottom: 5%;
}

@media (min-width: 320px) and (max-width: 990px) {
  .img-principal {
    display: none;
  }
  .img-media {
    display: block;
  }
  .about-me {
    position: static;
    margin-top: 15%;
    margin-left: 3%;
  }
  #body-index, #html-index {
    width: auto;
    height: auto;
  }
  .navbar-nav .nav-link.active {
    color: #A2A2A2;
    font-weight: bold;
    border-bottom: 2px solid #A2A2A2;
    width: 40%;
  }
  .hola p {
    text-align: left;
    margin-left: 8%;
  }
  .mobile-no {
    display: none;
  }
  .contact {
    flex-direction: column;
  }
  .contact a {
    margin-bottom: 5%;
  }
}/*# sourceMappingURL=styles.css.map */